<div class="footer-band">
    <div class="footer-area container">
        <div class="footer">
            <img src="/images/logo-footer.png" alt="">
        </div>
        <div class="footer">
            <h3>Information</h3>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Shop</a></li>
                <li><a href="/blog">Contact</a></li>
            </ul>
        </div>
        <div class="footer">
            <h3>Customer Care</h3>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Shop</a></li>
                <li><a href="/blog">Contact</a></li>
            </ul>
        </div>
        <div class="footer">
            <h3>Quick Link</h3>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Shop</a></li>
                <li><a href="/blog">Contact</a></li>
            </ul>
        </div>
        <div class="footer">
            <h3>My Account</h3>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Shop</a></li>
                <li><a href="/blog">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
