<div class="header">
    <div class="logo-area">
        <img class="logo" src="/images/logo-clear.png">
    </div>
    <ul class="menu">
        <li class="burger"><i class="fas fa-bars"></i></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="social">
        <a href="https://www.facebook.com/wholepersonwellperson" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/centeredonwellnessssi/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.pinterest.com/wholepersonwellperson/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
        <a href="" target="_blank"><i class="fab fa-google-plus-square"></i></a>
    </div>
</div>
