<div class="header">
    <div class="logo-area">
        <img class="logo" src="/images/logo.png">
    </div>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/blog">Shop</a></li>
        <li><a href="/blog">Contact</a></li>
    </ul>
</div>
