<div class="page blog">
    <div class="header"></div>
    <div class="container">
        <h1 class="page-title"><%- title%></h1>
        <div class="main">
            <div class="content">
                <%- contents %>
            </div>
            <div class="posts-area">
                <%- include('partials/blog_list') %>
            </div>
        </div>

    </div>
</div>
