<div class="page buy">
    <div class="page-banner">
        <img src="<%-banner%>">
    </div>
    <h1><%- title %></h1>
    <%- contents %>
    <div class="buy">
        <%- include('_partial/featured_buy',{posts:news, start:0}) %>
    </div>
</div>