<div class="home">
    <div class="home-banner">
        <img src="/images/space.jpg">
    </div>
    <h1>Experience The Frozen Planets right now!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac nisl lacinia, faucibus risus ut, sodales mi. In ligula felis, vehicula sed posuere quis, auctor eget ex. Nunc a sagittis erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam et arcu vel neque fermentum sodales. Nunc in sapien gravida sem mollis facilisis. Praesent vitae est eros. Proin id nibh non sapien feugiat lacinia. Cras dolor orci, imperdiet vitae justo in, sagittis aliquet odio. Cras magna mi, elementum auctor sem vel, tincidunt tristique neque. Vivamus blandit vel turpis at gravida. Donec a mattis erat. Phasellus et finibus nisi.</p>
    <div class="grey-section">
        
    </div>
    <div class="listing">
        <a>Tours</a>
        <a>Adventures</a>
        <a>Exhibits</a>
        <a>Parks</a>
        <a>Dining</a>
        <a>Wedding Services</a>
        <a>Shopping</a>
    </div>
    <%- contents %>
</div>