<div class="home">
    <div class="home-banner">
        <img src="<%-banner%>">
    </div>
    <div class="features">
        <div class="featured">
            <h2>Mighty Maca 411</h2>
            <img class="center" src="/images/1can.png">
            <a> Learn More </a>
        </div>
        <div class="featured">
            <h2>Discover What's In It!</h2>
            <img class="center" src="/images/2drop.png">
            <a> Learn More </a>
        </div>
        <div class="featured">
            <h2>Mighty Maca Raves!</h2>
            <img class="center" src="/images/3person.png">
            <a> Learn More </a>
        </div>
        <div class="featured">
            <h2>Buy Some Mighty Maca!</h2>
            <img class="center" src="/images/4buy.png">
            <a> Learn More </a>
        </div>
    </div>
    
    <div class="amazon">
        <h2>Now offered on</h2>
        <a href="https://www.amazon.com/Mighty-Maca-Greens-VidaPura-180/dp/B003QKB50A/ref=sr_1_1?ie=UTF8&qid=1411671443&sr=8-1&keywords=mighty+maca?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR" target="_blank"><img src="http://www.niftybuttons.com/amazon/amazon-button2.png" alt="Amazon Button (via NiftyButtons.com)"></a>
    </div>
    <%- contents %>
</div>