<html>

<head>
    <title>Wellness Center - <%-title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli" rel="stylesheet">
    <link href="/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <%- include('partials/menu') %>

    <div class="content">
        <% if(typeof(layout_type) != "undefined" && layout_type) {%>
        <%- include(layout_type) %>
        <% } %>
    </div>

    <%- include('partials/footer') %>

    <script type="text/javascript">
    	if (window.netlifyIdentity) {
		    window.netlifyIdentity.on("init", user => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
					  	document.location.href = "/admin/";
					});
				}
		    });
		}
    </script>

</body>

</html>
