<div class="page">
    <div class="page-banner">
        <img src="/images/live-young.png">
    </div>
    <div class="callout">
        <h1><%- title %></h1>
        <%- contents %>
    </div>
</div>