<div class="page post">
    <div class="page-banner">
        <img src="/images/live-young.png">
    </div>
    <div class="callout">
        <h1><%- title %></h1>
        <div class="date"><%- moment(date).format("MM/DD/YYYY") %></div>
        <%- contents %>
        <p><a href="<%- back_to %>">Back</a></p>
    </div>
</div>