<div class="page">
    <div class="page-banner">
        <img src="<%-banner%>">
    </div>
    <h1><%- title %></h1>
    <%- contents %>
    <%- include('_partial/featured_posts',{posts:raves, start:0}) %>
</div>
