<div class="video">
    <div class="header"></div>
    <div class="container">
        <h1 class="page-title"><%- title%></h1>
        <div class="main">
            <div class="left">
                <div class="page-banner">
                    <iframe src="https://www.youtube.com/embed/<%- video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="content">
                    <%- contents %>
                </div>
            </div>
            <div class="right">
                <%- include('partials/service_list') %>
            </div>
        </div>

    </div>
</div>
