body {
    background-image: url('/images/background.png')
    font-family: 'Montserrat', sans-serif;
    background-color: #c0c0c0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-body {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 0px;
    
    .menu {
        padding: 15px;
        padding-right: 30px;
        .logo {
            width: 40%;
            
        }
        .sub-region-menu {
            float: right;
            text-align: center;
            
            a {
                text-decoration: none;
            }
            li {
                list-style: none;
            }
        }
    }
    
    .footer {
        text-align: center;
    }
}

.home {
    
    .home-banner {
        
        img {
            width: 100%;
        }
    }

    
    h1 {
        font-weight: normal;
        padding: 15px;
    }
    p {
        padding: 15px;
    }
    
    .grey-section {
        background-color: #e8e4e1;
        min-height: 500px;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px solid #030303;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 3px #808080;
    }
    .listing {
        margin: 30px;
        
        a {
            display: inline-block;
            margin-bottom: 30px;
            margin-right: 10px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            font-size: 14px;
            color: #444444;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px
            padding-top: 5px;
            text-shadow: 0 1px 1px rgba(255,255,255,0.75)
            background: rgb(255,255,255); 
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 44%, rgba(225,225,225,1) 72%, rgba(225,225,225,1) 100%, rgba(246,246,246,1) 100%, rgba(225,225,225,1) 101%); 
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 44%, rgba(225,225,225,1) 72%, rgba(225,225,225,1) 100%, rgba(246,246,246,1) 100%, rgba(225,225,225,1) 101%); 
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 44%, rgba(225,225,225,1) 72%, rgba(225,225,225,1) 100%, rgba(246,246,246,1) 100%, rgba(225,225,225,1) 101%); 
        }
    }
}